<script context="module">
    export async function preload({params}, {user}) {
        if (user) {
            this.redirect(302, `/`);
        }
    }
</script>

<script>
    import {goto, stores} from '@sapper/app';
    import ListErrors from '../_components/ListErrors.svelte';
    import {post} from 'utils.js';
    import {getUser} from "../_api_parser";

    const {session} = stores();

    let username = '';
    let password = '';
    let errors = null;

    async function submit(event) {
        const user = {username: username, password: password};
        const response = await post(`auth/login`, user);

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];
        if (response.message && response.message === "Invalid credentials.")
            errors = response.message;

        if (response.token) {
            $session.user = await getUser(username);
            $session.user.token = response.token;
            await goto('/profile');
        }
    }
</script>

<svelte:head>
    <title>Sign in • Audi'O</title>
</svelte:head>

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign In</h1>
                <p class="text-xs-center">
                    <a href="/register">Need an account?</a>
                </p>

                <ListErrors {errors}/>

                <form on:submit|preventDefault={submit}>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="text" required placeholder="Login"
                               bind:value={username}>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" required placeholder="Password"
                               bind:value={password}>
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>