<script>
    function mouseenter() {
        hovered = true;
    }

    function mouseleave() {
        hovered = false;
    }

    export let hovered = false;
    export let author;
</script>

<style>
    .vinyl-effect {
        transition: 0.3s;
    }

    .resized {
        width: 18rem;
        height: 18rem;
    }
</style>

<article class="resized card bg-transparent border-0 text-white rounded-circle" on:mouseenter={mouseenter}
         on:mouseleave={mouseleave}>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1200px-Placeholder_no_text.svg.png"
         class="vinyl-effect resized card-img" alt="Author">
    <div class="card-img-overlay text-white d-flex flex-wrap align-items-center justify-content-center flex-column p-0">
        <a class="card-subtitle btn btn-link text-center" href="/authors/{author.id}" role="button">
            <h3>{author.name}</h3></a>
    </div>
</article>
