<script>
    import Playlist from "../_components/Playlist.svelte";

    export let deleteCallback = null;
    export let playlists;
</script>

<div class="d-flex flex-wrap" style="gap: 1rem;">
    {#each playlists as playlist, i}
        {#if deleteCallback}
            <Playlist playlist='{playlist}' deleteCallback={() => deleteCallback(i)}/>
        {:else}
            <Playlist playlist='{playlist}'/>
        {/if}

    {/each}
</div>