<script>
    function mouseenter() {
        hovered = true;
    }

    function mouseleave() {
        hovered = false;
    }

    export let deleteCallback = null;

    export let hovered = false;
    export let playlist;

    let playlistCoverUrl = playlist && playlist.songs && playlist.songs.length !== 0 && playlist.songs[0].album.coverUrl ?
        playlist.songs[0].album.coverUrl : "https://simpleicon.com/wp-content/uploads/playlist.png";
</script>

<style>
    .vinyl-effect {
        transition: 0.3s;
    }

    .hovered.vinyl-effect {
        opacity: 0.5;
    }

    .resized {
        width: 18rem;
        height: 18rem;
    }
</style>

<article class="resized card bg-transparent border-0 text-white rounded-circle" on:mouseenter={mouseenter}
         on:mouseleave={mouseleave}>
    <img class:hovered="{hovered}" src={playlistCoverUrl} class="vinyl-effect resized card-img" alt="Playlist">
    <div class="card-img-overlay text-white d-flex flex-wrap align-items-center justify-content-center flex-column p-0">
        {#if deleteCallback}
            <button on:click={deleteCallback} class="btn btn-danger position-absolute" style="top: 15%;left: 85%">X
            </button>
        {/if}
        <a class="card-title btn btn-link text-center" href="/playlists/{playlist.id}" role="button">
            <h1>{playlist.name}</h1></a>
        <h3 class="card-subtitle text-center">{playlist.user.username}</h3>
    </div>
</article>
