<script>
    import Song from "../_components/Song.svelte";

    export let removeFromArrayCallback = null;

    export let songs;
</script>

<div class="d-flex flex-column" style="gap: 1rem;">
    {#each songs as song, i}
        {#if removeFromArrayCallback}
            <Song song='{song}' removeFromArrayCallback={() => removeFromArrayCallback(i)}/>
        {:else}
            <Song song='{song}'/>
        {/if}
    {/each}
</div>