<script>
    import {patch} from '../../node_modules/api';

    export let song;

    export let removeFromArrayCallback = null;

    async function updateSong(event) {
        if (!song.name || song.name.length === 0)
            song.name = "Unnamed song";
        await patch(`api/songs/${song.id}`, {name: song.name});
    }
</script>

<article class="d-flex">
    <div class="col"><a href="/authors/{song.author.id}">{song.author.name}</a></div>
    <div class="col"><a href="/albums/{song.album.id}">{song.album.name}</a></div>
    {#if removeFromArrayCallback}
        <input class="col form-control" type="text" placeholder="Song's name" bind:value={song.name}
               on:focusout={updateSong}>
        <button on:click={removeFromArrayCallback} class="btn btn-danger">X</button>
    {:else}
        <div class="col"><a href="/albums/{song.album.id}">{song.name}</a></div>
    {/if}
</article>
