<script context="module">
    import {parseAlbumProperties} from '../_api_parser';

    export async function preload({params}, {user}) {
        const album = await (await this.fetch(`http://audi-o_back:8000/api/albums/${params.id}`)).json();
        await parseAlbumProperties(this, album);
        return {album, user};
    }
</script>

<script>
    import Songs from "../_components/Songs.svelte";
    import {del, post, patch} from '../../node_modules/api';
    import ListErrors from "../_components/ListErrors.svelte";
    import {parseSongProperties} from "../_api_parser";

    export let album;
    export let user;

    let formShown = false;
    let albumJustUpdated = false;
    let songTitle = "";
    let errors = null;

    async function removeSongFromAlbum(index) {
        const deletedSong = album.songs.splice(index, 1)[0];
        album.songs = album["songs"]; // Needed in order to make Svelte refresh the Songs component

        await del(`api/songs/${deletedSong.id}`);
        await patch(`api/albums/${album.id}`, {songs: album.songs.map(s => s['@id'])});
    }

    function showForm() {
        formShown = true;
    }

    async function submitNewSong(event) {
        if (!songTitle || songTitle.length === 0)
            songTitle = "Unnamed song";
        const response = JSON.parse(await post(`api/songs`,
            {'author': album.author['@id'], 'album': album['@id'], 'name': songTitle}));

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];

        if (response.id) {
            await parseSongProperties(window, response);
            album.songs.push(response);
            album.songs = album["songs"]; // Needed in order to make Svelte refresh the Albums component
            formShown = false;
            songTitle = "";
        }
    }

    async function updateAlbum(event) {
        if (!album.name || album.name.length === 0)
            album.name = "Unnamed playlist";
        const data = {name: album.name, songs: album.songs.map(s => s['@id'])};
        if (album.coverUrl && album.coverUrl !== 0)
            data.coverUrl = album.coverUrl;
        const response = await patch(`api/albums/${album.id}`, data);

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];
        else {
            albumJustUpdated = true;
            setTimeout(() => {
                albumJustUpdated = false;
            }, 3000);
        }
    }
</script>

<svelte:head>
    <title>{album.author.name} - {album.name} • Audi'O</title>
</svelte:head>

<ListErrors {errors}/>

<style>
    #albumJustUpdated {
        opacity: 0;
        transition: 0.3s;
    }

    #albumJustUpdated.albumJustUpdated {
        opacity: 1;
    }

    .cover {
        max-height: 16rem;
        max-width: 16rem;
    }
</style>

{#if user && user.author && user.author.id === album.author.id}
    <h1>Edit {album.name}</h1>
    <div class="d-flex align-items-center flex-wrap mt-3">
        <img src="{album.coverUrl}" alt="Album cover" class="cover col-sm-6 col-12">

        <form on:submit|preventDefault={updateAlbum} class="col-sm-6 col-12 d-flex flex-column">
            <fieldset class="form-group">
                <label for="editAlbumTitle">Album's title</label>
                <input id="editAlbumTitle" class="form-control form-control-lg" type="text" required
                       bind:value={album.name}>
            </fieldset>
            <fieldset class="form-group">
                <label for="editAlbumCoverUrl">Album cover's URL</label>
                <input id="editAlbumCoverUrl" class="form-control" type="text" required bind:value={album.coverUrl}
                       placeholder="Cover URL">
            </fieldset>
            <fieldset class="d-flex justify-content-between align-items-center">
                <div id="albumJustUpdated" class="text-success" class:albumJustUpdated>Album updated</div>
                <button class="btn btn-lg btn-success">✅</button>
            </fieldset>
        </form>
    </div>
{:else}
    <div class="d-flex align-items-center flex-wrap mb-3">
        <img src="{album.coverUrl}" alt="Album cover" class="cover col-sm-6 col-12">
        <div class="col-sm-6 col-12">
            <h1 class="mb-0">{album.name}</h1>
            <h3 class="mb-0">{album.author.name}</h3>
        </div>
    </div>
{/if}

<div class="d-flex mt-5">
    <h3 class="col">Artist</h3>
    <h3 class="col">Album</h3>
    <h3 class="col">Song</h3>
</div>

{#if user && user.author && user.author.id === album.author.id}
    <Songs songs="{album.songs}" removeFromArrayCallback={removeSongFromAlbum}/>
    <hr class="bg-light">
    {#if !formShown}
        <button id="add-song" on:click={showForm} class="btn btn-success">+ Add song</button>
    {:else}
        <form on:submit|preventDefault={submitNewSong} class="d-flex mt-3">
            <fieldset class="form-group col">{album.author.name}</fieldset>
            <fieldset class="form-group col">{album.name}</fieldset>
            <fieldset class="form-group col">
                <input id="addSongTitle" class="form-control" type="text" required bind:value={songTitle}
                       placeholder="Song's title">
            </fieldset>
            <button class="btn btn-success">✅</button>
        </form>
    {/if}
{:else}
    <Songs songs="{album.songs}"/>
{/if}