<script context="module">
    import {parseAlbumProperties} from "../_api_parser";

    export async function preload() {
        const albums = (await (await this.fetch(`http://audi-o_back:8000/api/albums`)).json())['hydra:member'];
        for (const album of albums)
            await parseAlbumProperties(this, album)
        return {albums};
    }
</script>

<script>
    import Albums from "../_components/Albums.svelte";

    export let albums;
</script>

<svelte:head>
    <title>Albums • Audi'O</title>
</svelte:head>

<div>
    <h1>Albums</h1>

    <Albums albums={albums}/>
</div>