<script context="module">
    import {parseAuthorProperties} from '../_api_parser';

    export async function preload({params}) {
        const author = await (await this.fetch(`http://audi-o_back:8000/api/authors/${params.id}`)).json();
        await parseAuthorProperties(this, author);
        return {author};
    }
</script>

<script>
    import Author from "../_components/Author.svelte";
    import Album from "../_components/Album.svelte";

    export let author;
</script>

<svelte:head>
    <title>{author.name} • Audi'O</title>
</svelte:head>

<Author author="{author}"/>

<h1 class="mb-5 mt-3">{author.name}'s albums</h1>

<div class="d-flex flex-wrap" style="gap: 1rem;">
    {#each author.albums as album}
        <Album album='{album}'/>
    {/each}
</div>
