<script context="module">
    import {parseAuthorProperties} from "../_api_parser";

    export async function preload() {
        const authors = (await (await this.fetch(`http://audi-o_back:8000/api/authors`)).json())['hydra:member'];
        for (const author of authors)
            await parseAuthorProperties(this, author)
        return {authors};
    }
</script>

<script>
    import Author from "../_components/Author.svelte";

    export let authors;
</script>

<svelte:head>
    <title>Authors • Audi'O</title>
</svelte:head>

<h1>Authors</h1>

<div class="d-flex flex-column" style="gap: 1rem;">
    {#each authors as author}
        <Author author='{author}'/>
    {/each}
</div>
