<script context="module">
    import {parseAuthorProperties, parsePlaylistProperties} from "../_api_parser";

    export async function preload({params}, {user}) {
        if (!user)
            this.redirect(302, `/login`);
        if (!user['playlists'])
            user.playlists = [];
        if (!user['parsed'] || user.parsed === false) { // Parse only if necessary
            const playlists = [];
            for (const playlist_url of user.playlists) {
                const playlist = await (await fetch(`http://audi-o_back:8000${playlist_url}`)).json();
                await parsePlaylistProperties(this, playlist);
                playlists.push(playlist);
            }
            user.playlists = playlists;
            if (user.author)
                await parseAuthorProperties(this, user.author);
        }
        user.parsed = true;
        return {user};
    }
</script>

<script>
    import {goto} from '@sapper/app';
    import ListErrors from "../_components/ListErrors.svelte";
    import {del, post, patch} from '../../node_modules/api';
    import Albums from "../_components/Albums.svelte";
    import Playlists from "../_components/Playlists.svelte";
    import {parseAlbumProperties} from "../_api_parser";

    export let user;

    let authorName = "";

    let errors = null;

    async function newPlaylist(event) {
        const response = JSON.parse(await post(`api/playlists`, {
            'user': user['@id'],
            'name': "New playlist",
            'songs': []
        }));

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];

        if (response.id) {
            await parsePlaylistProperties(window, response);
            user.playlists.push(response);
            user.playlists = user["playlists"]; // Needed in order to make Svelte refresh the Albums component
            await goto(`/playlists/${response.id}`);
        }
    }

    async function newAlbum(event) {
        const response = JSON.parse(await post(`api/albums`, {
            'author': user.author['@id'],
            'name': "New album",
            'songs': []
        }));

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];

        if (response.id) {
            await parseAlbumProperties(window, response);
            user.author.albums.push(response);
            user.author.albums = user.author["albums"]; // Needed in order to make Svelte refresh the Albums component
            await goto(`/albums/${response.id}`);
        }
    }

    async function newArtist(event) {
        if (authorName.length === 0) authorName = "Unnamed author";
        const response = JSON.parse(await post(`api/authors`, {'user': user['@id'], 'name': authorName}));

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];

        if (response.id) {
            await parseAuthorProperties(window, response);
            user.author = response;
            const response2 = JSON.parse(await patch(`api/users/${user.id}`, {'author': user.author['@id']}));

            if (response2['@type'] && response2['@type'] === "hydra:Error")
                errors = response2['hydra:description'];
        }
    }

    async function deletePlaylist(index) {
        const playlist = user.playlists.splice(index, 1)[0];
        await del(`api/playlists/${playlist.id}`);
        user.playlists = user["playlists"]; // Needed in order to make Svelte refresh the Albums component
    }

    async function deleteAlbum(index) {
        const album = user.author.albums.splice(index, 1)[0];
        await del(`api/albums/${album.id}`);
        user.author.albums = user.author["albums"]; // Needed in order to make Svelte refresh the Albums component
    }

    async function deleteArtist(event) {
        await del(`api/authors/${user.author.id}`);
        await patch(`api/users/${user.id}`, {'author': null});
        user.author = null;
    }
</script>

<svelte:head>
    <title>{user.username} • Audi'O</title>
</svelte:head>

<ListErrors {errors}/>

<div class="mb-5">
    <h1>Artist account</h1>
    {#if user.author}
        <h3>Artist name : {user.author.name}</h3>
        <button on:click={deleteArtist} class="btn btn-danger">Remove your artist account</button>
    {:else}
        <div class="row">
        <input bind:value={authorName} class="col-12 col-sm-9 form-control form-control-lg" type="text" required>
        <button on:click={newArtist} class="col-12 col-sm-3 btn btn-warning">Add an artist account</button>
        </div>
    {/if}
</div>

<hr class="bg-light">

<div class="d-flex align-items-center mb-3" style="gap: 1rem;">
    <h1 class="mb-0">Playlists</h1>
    <button on:click={newPlaylist} class="btn btn-success">+ New playlist</button>
</div>

{#if user.playlists.length === 0}
    <h3>No playlists</h3>
{:else}
    <Playlists bind:playlists={user.playlists} deleteCallback={deletePlaylist}/>
{/if}

{#if user.author}
    <hr class="bg-light">

    <div class="d-flex align-items-center mt-5 mb-3" style="gap: 1rem;">
        <h1 class="mb-0">Albums</h1>
        <button on:click={newAlbum} class="btn btn-success">+ New Album</button>
    </div>
    {#if user.author.albums.length === 0}
        <h3>No albums</h3>
    {:else}
        <Albums bind:albums={user.author.albums} deleteCallback={deleteAlbum}/>
    {/if}
{/if}