<script context="module">
    import {parseSongProperties} from "../_api_parser";

    export async function preload() {
        const songs = (await (await this.fetch(`http://audi-o_back:8000/api/songs`)).json())['hydra:member'];
        for (const song of songs)
            await parseSongProperties(this, song);
        return {songs};
    }
</script>

<script>
    import Songs from "../_components/Songs.svelte";

    export let songs;
</script>

<svelte:head>
    <title>Songs • Audi'O</title>
</svelte:head>

<h1 class="mb-2">Songs</h1>

<div class="d-flex">
    <h3 class="col">Artist</h3>
    <h3 class="col">Album</h3>
    <h3 class="col">Song</h3>
</div>

<Songs songs="{songs}"/>
