<script context="module">
    import {parsePlaylistProperties} from "../_api_parser";

    export async function preload({params}, {user}) {
        if (!user) {
            this.redirect(302, `/login`);
        }
        const playlist = await (await this.fetch(`http://audi-o_back:8000/api/playlists/${params.id}`)).json();
        await parsePlaylistProperties(this, playlist);
        return {playlist};
    }
</script>

<script>
    import {stores} from '@sapper/app';
    import ListErrors from '../_components/ListErrors.svelte';
    import {patch} from '../../node_modules/api';
    import Songs from "../_components/Songs.svelte";

    const {session} = stores();

    export let playlist;

    let errors = null;

    async function updatePlaylist(event) {
        if (!playlist.name || playlist.name.length === 0)
            playlist.name = "Unnamed playlist";
        const response = await patch(`api/playlists/${playlist.id}`, {
            name: playlist.name,
            songs: playlist.songs.map(s => s['@id'])
        });

        if (response['@type'] && response['@type'] === "hydra:Error")
            errors = response['hydra:description'];
    }

    function removeFromArray(index) {
        playlist.songs.splice(index, 1);
        playlist.songs = playlist["songs"]; // Needed in order to make Svelte refresh the Songs component
        updatePlaylist();
    }
</script>

<svelte:head>
    <title>{playlist.name} • Audi'O</title>
</svelte:head>

<h1>Edit {playlist.name}</h1>

<ListErrors {errors}/>

<input class="form-control form-control-lg mb-3" type="text" required placeholder="Playlist name"
       bind:value={playlist.name} on:focusout={updatePlaylist}>

{#if playlist.songs.length === 0}
    <h3>No songs</h3>
{:else}
    <Songs bind:songs={playlist.songs} removeFromArrayCallback={removeFromArray}/>
{/if}
